/* font-family: 'Jost', sans-serif; 200 and 400 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    background-color: rgb(77, 77, 77);
}

.wraper{
    position: relative;
}

.container {
    background-color: #eee5de;
    font-family: 'Jost', sans-serif;
    width: 90vw;
    margin: 5vh 5vw 1vh 5vw;
    padding-bottom: 5vh;
    height: 94vh;
}
div.topSide{
    position: relative;
    width: 100%;
    height: 30%;
}
.inptsnbtns{
    position: absolute;
    right: 5%;
    top:95%;
}

.container div.topSide h1 {
    font-weight: 50;
    font-size: 5rem;
    font-style: italic;
    width: auto;
}

.container div.topSide h1:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.container div.topSide h1.HowManyTasks {
    font-size: 4rem;
    position: absolute;
    left: 5%;
    top:80%;
}

span {
    font-size: 3rem;
}


button#addBtn, li.listElement button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 10px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(150, 150, 150);
    text-align: center;
    transition: all 0.2s;
}


button:hover {
    color: #000000;
    background-color: rgb(100, 100, 100);
}


@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}
ul.tasks {
    position: absolute;
    padding-left: 5vw;
    top:40%;
    width: 90vw;
}
ul.tasks li.listElement{
margin: 1rem;
font-size: 1.5rem;
}

ul.tasks li.listElement button {
margin-left: 3rem;
}



footer {
    color:#d1c3b7 ;
    position: fixed;
    bottom: 1%;
    right: 6%;
}
footer a{
    color:#d1c3b7 ;
    text-decoration: none;
}